#user-bingo-string {
	margin-left: 540px;
	font-size: 25px;
	float: left;
}
#bot-bingo-string {
	margin-right: 620px;
	font-size: 25px;
	float: right;
}
.table1{
	border-collapse: collapse;
	margin-left: 30%;
	float: left;
}
.table2 {
	border-collapse: collapse;	
	margin-left: 60%;
}
#gaming-table {
	border-collapse: collapse;
	/*margin-left: 40%;*/
	display: inline-block;
}
.outputcell {
	border: 3px solid black;	
	text-align: center;
	display: inline-block;
	transition-duration: 0.4s;
	font-size: 2vw;
	margin:	0.1vw 0.1vw;
	padding: 0.2vw 0.2vw;
	cursor: not-allowed;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.button{
	color: white;
	text-align: center;
	display: inline-block;
	transition-duration: 0.4s;
	font-size: 2vw;
	margin:	0.1vw 0.1vw;
	padding: 0.2vw 0.2vw;
	cursor: pointer;
}
.button1{
	background-color: white;
	border: solid #4CAF50;
	color: black;
}
.button1:hover{
	background-color: #4CAF50;
	color: white;
}
.disabled_button {
	background-color: grey;
	cursor: not-allowed;
	border: solid black;
}
.disabled_button:hover {
	color: black;
	background-color: grey;
}
#page1 {
	text-align: center;
	width: 100%;
}
#page2 {
	text-align: center;
	display: none;
	width: 100%;
}
.bingo_letters {
	font-size: 2vw;
}