body {
	background-image: url("images/background-img.jpg");
	background-attachment: fixed;
}
#load-gif {
	margin-top: 23vh;
	margin-bottom: 23vh;
	width: 30vw;
}
#win-gif {
	display: none;
	position: fixed;
	z-index: 1;
	left: 1vw;
	top: 35vw;
	width: 100vw;
	height: 50vw;
}
#info {
	float: left;
	width: 4vw;
	height: 4vw;
	margin-top: 1vw;
	margin-left: 1vw;
	cursor: pointer;
}
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 2vw;
	border: 1px solid #888;
	width: 80%;
}
.close {
	color: #aaaaaa;
	float: right;
	font-size: 2vw;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 10%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
#user-name {
	font-size: 3.2vw;
	width: 40vw;
}
.bingo-image {
	height: 5vw;
}
.text {
	font-size: 3vw;
	text-align: center;
}
.table1 {
	border-collapse: collapse;
	float: left;
	text-align: center;
	width: 50%;
}
.table2 {
	border-collapse: collapse;
	float: right;
	text-align: center;
	width: 50%;
}
#gaming-table {
	border-collapse: collapse;
	display: inline-block;
}
.outputcell {
	border: 3px solid black;
	text-align: center;
	display: inline-block;
	transition-duration: 0.4s;
	font-size: 4vw;
	margin: 0.2vw 0.2vw;
	padding: 0.3vw 0.3vw;
	cursor: not-allowed;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	color: white;
	text-align: center;
	display: inline-block;
	transition-duration: 0.4s;
	font-size: 4vw;
	margin: 0.2vw 0.2vw;
	padding: 0.3vw 0.3vw;
	cursor: pointer;
}
.button1 {
	background-color: white;
	border: 3px solid #4caf50;
	color: black;
}
.button1:hover {
	background-color: #4caf50;
	color: white;
}
.disabled_button {
	background-color: grey;
	cursor: not-allowed;
	border: 3px solid black;
}
.disabled_button:hover {
	color: black;
	background-color: grey;
}
#page0 {
	text-align: center;
	width: 100%;
}
#page1,
#page2,
#page3 {
	text-align: center;
	display: none;
	width: 100%;
}
.bingo_letters {
	height: 8vw;
}
#end-result {
	font-size: 5vw;
}
.titles {
	font-size: 5vw;
}
#reset-button {
	margin-left: 50%;
	margin-top: 1%;
}
#matrix-input-div {
	width: 100%;
}
#rules-list,
#players-list,
#rememberMe {
	display: inline-block;
	text-align: left;
}

#player-name {
	display: none;
	background-color: white;
	border: 3px solid green;
	padding: 0.5vw;
	font-family: "Autour One";
}
#sound-status {
	border: 3px solid green;
	background-color: white;
	padding: 0.5vw;
	cursor: pointer;
	font-family: "Barrio";
}
.small-screen {
	margin-bottom: 3vw;
	margin-top: 3vw;
	display: inline-block;
}

#game-info,
#page0,
#page2 {
	font-family: "Architects Daughter";
}
.titles {
	font-family: "McLaren";
}
@media only screen and (min-width: 900px) {
	#user-name {
		font-size: 1.6vw;
		width: 20vw;
	}
	.table1 {
		margin-left: 20%;
		width: 30%;
	}
	.table2 {
		margin-right: 20%;
		width: 30%;
	}
	.outputcell {
		font-size: 2vw;
		margin: 0.1vw 0.1vw;
		padding: 0.2vw 0.2vw;
	}
	.button {
		font-size: 2vw;
		margin: 0.1vw 0.1vw;
		padding: 0.2vw 0.2vw;
	}
	.bingo_letters {
		height: 5vw;
	}
	#end-result {
		font-size: 2.5vw;
	}
	.titles {
		font-size: 3vw;
	}
	#reset-button {
		margin-left: 30%;
	}
	.text {
		font-size: 1.6vw;
	}
	#player-name,
	#sound-status {
		float: right;
	}
	#sound-status {
		margin-right: 1vw;
	}
	#load-gif {
		width: 20vw;
	}
	#win-gif {
		left: 23vw;
		top: 10vw;
		width: 50vw;
		height: 25vw;
	}
	.small-screen {
		display: none;
	}
}
